header {
    background-color: rgb(250, 6, 6);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(214, 218, 7);
  }

  section {
    display: -webkit-flex;
    display: flex;
  }


  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
  }

  footer {
    background-color: rgb(247, 0, 0);
    padding: 10px;
    text-align: center;
    color: rgb(255, 251, 0);
  }

  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  